.max {
    display: none;
}

header {
    height: 95px;
    /*本cssに組み込む際は100%*/
    width: 640px;
    background-color: #ffca00;
    border-top: solid 2px #f48126;
}

.header-container {
    height: 95px;
    width: 640px;
}

.header-logo {
    margin-top: 15px;
    width: 210px;
    border-right: solid 1px #cca200;
    float: left;
}

.header-buttons {
    float: right;
    height: 95px;
    width: 420px;
}

.target-area {
    float: left;
}

.target-area p {
    font-size: 25px;
    padding-top: 40px;
}

.button-area {
    width: 332px;
    float: right;
    padding-top: 18px;
    padding-right: 3px;
}

.keep-button {
    float: left;
}

.menu-button {
    float: right;
}

.dummy-button {
    font-size: 23px;
    height: 60px;
    width: 158px;
    margin-right: 6px;
    background: linear-gradient(#fffdfe, #f1eedd);
    border-radius: 5px;
    border: solid 1px #cca200;
    box-shadow: 0px 0px 1px 2px #ffffff inset;
}

.keep-box {
    width: 108px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.txt-icon {
    width: 130px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.button-arrow {
    width: 24px;
    height: 27px;
    float: right;
}

.button-txt {
    float: left;
}

.notification {
    width: 32px;
    height: 32px;
    color: #ffffff;
    background-color: #f66b34;
    border-radius: 30px;
    z-index: 4;
    margin-top: -55px;
    margin-left: -3px;
}

.caution {
    width: 10px;
    height: 23px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

body {
    font-family: "Arial", "Meiryo", "メイリオ", "Hiragino Kaku Gothic Pro", "ヒラギノ⾓ゴPro W3", "ＭＳ Ｐ ゴシック", sans-serif;
    /*本cssに組み込む際は100%*/
    width: 640px;
}

.counter-area {
    width: 100%;
    height: 50px;
    border-top: solid 2px #aaaaaa;
    border-bottom: solid 2px #aaaaaa;
}

.update-counter {
    margin-left: auto;
    margin-right: auto;
    width: 475px;
}

.wrapper-txt {
    font-size: 28px;
    padding-top: 13px;
}

span {
    color: #e94100;
}

.main-wrapper {
    width: 100%;
    height: 960px;
    background-image: url("../img_2/bg_img.png");
    background-repeat: repeat;
    border-bottom: solid 2px #eec5f1;
}

.wrapper-container {
    height: 870px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
}

.top-txt {
    width: 504px;
    height: 41px;
    margin-left: auto;
    margin-right: auto;
}

.center-txt {
    width: 575px;
    height: 138px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.logo-area {
    width: 600px;
    height: 142px;
    margin-top: 30px
}

.box-left {
    background-color: #ffffff;
    width: 290px;
    height: 140px;
    float: left;
    border-radius: 10px;
}

.box-right {
    background-color: #ffffff;
    width: 290px;
    height: 140px;
    float: right;
    border-radius: 10px;
}

.big-mom {
    width: 545px;
    height: 306px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
}

.bottom-txt {
    width: 463px;
    height: 119px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
}

.main-contents {
    width: 100%;
    height: 1470px;
    background-color: #fdefff;
}

.contents-container {
    width: 584px;
    height: 1420px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}

.top-container {
    width: 580px;
    height: 580px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px 3px #f2cef4 inset;
    border-radius: 10px;
    z-index: 1;
}

.bottom-container {
    width: 580px;
    height: 700px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px 3px #f2cef4 inset;
    border-radius: 10px;
    margin-top: 77px;
    z-index: 1;
}

.speech-bubble img {
    margin-left: -15px;
    margin-top: -60px;
    z-index: 4;
}

.biglogo-area {
    width: 450px;
    height: 172px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.illustration-top {
    width: 520px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
}

.illustration-bottom {
    width: 520px;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

.body-bottom {
    width: 100%;
    height: 110px;
    background-color: #ffffff;
}

.left-top {
    width: 370px;
    height: 130px;
    float: left;
}

.left-bottom {
    width: 355px;
    height: 220px;
    float: left;
}

.right-top {
    width: 119px;
    height: 95px;
    margin-top: 20px;
    float: right;
}

.contacts {
    width: 236px;
    height: 36px;
    float: left;
}

.mail-button {
    width: 126px;
    height: 36px;
    background-color: #4da93a;
    border-radius: 5px;
    float: left;
}

.mail-container {
    width: 92px;
    height: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.mail-txt {
    font-size: 19px;
    color: #ffffff;
    float: right;
}

.tel-button {
    width: 100px;
    height: 36px;
    background-color: #2062b9;
    border-radius: 5px;
    float: right;
}

.tel-container {
    width: 72px;
    height: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
}

.tel-txt {
    font-size: 19px;
    color: #ffffff;
    float: right;
    padding-top: 2px;
}

.points-top {
    float: left;
    padding-top: 20px;
    font-size: 25px;
}

.points-top p {
    line-height: 35px;
}

.points-bottom {
    float: left;
    padding-top: 20px;
    font-size: 25px;
}

.points-bottom p {
    line-height: 35px;
}

.normal {
    font-size: 22px;
    padding-top: 10px;
    color: #645a5b;
}

.big-red {
    font-size: 30px;
    color: red;
}

.area-box {
    width: 516px;
    height: 46px;
    border: solid 2px #dcdcdc;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.area-txt {
    width: 484px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}

.txt-bottom p {
    font-size: 22px;
    width: 260px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}

.area-txt p {
    font-size: 21px;
}

.signin-box {
    width: 520px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
}

.sign-in {
    margin-left: 48px;
    margin-top: 20px;
}

.bottom-accessory {
    width: 300px;
    height: 110px;
    float: right;
}

.back-top {
    width: 220px;
    float: left;
    margin-top: 55px;
    margin-bottom: 10px;
}

.back-top p {
    font-size: 25px;
    margin-top: 10px;
}

.arrow {
    float: left;
    margin-top: 5px;
}

.mascot-box {
    margin-top: 40px;
}

.current-location {
    width: 100%;
    height: 66px;
    border-top: solid 2px #f66b34;
    border-bottom: solid 2px #f66b34;
    background-color:#ffffff;
    float: right;
    z-index: 1;
}

.left-back {
    width: 194px;
    height: 66px;
    background-color: #f6c487;

}

.right-back {
    width: 442px;
    height: 66px;
    background-color: #fedd76;
    margin-top: -66px;
    float:right;
    z-index: 2
}

.job-offer {
    width: 384px;
    height: 24px;
    float: right;
    font-size: 24px;
    margin-top: 22px;
}

.arrow-back {
    width: 25px;
    height: 66px;
    float: left;
    z-index: 4;
    margin-top: -66px;
    margin-left: 198px;
    position: relative;
}

.white-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 33px 0 33px 25px;
    border-color: transparent transparent transparent #ffffff;
    float: right;
}

.arrow-box {
    width: 25px;
    height: 66px;
    float: left;
    z-index: 5;
    margin-top: -66px;
    margin-left: 194px;
    position: relative;
}

.left-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 33px 0 33px 25px;
    border-color: transparent transparent transparent #f6c487;
    float: right;
}

.index-txt {
    padding-top: 24px;
    font-size: 24px;
    width: 132px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    width: 640px;
    height: 380px;
    background-color: #ffca00;
    border-top: solid 2px #ffffff;
    float: left;
}

.footer-container {
    width: 605px;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
}

.top-box {
    width: 100%;
    height: 105px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
}

.link-1 {
    width: 480px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    color: #444444;
    margin-bottom: 15px;
}

.link-2 {
    width: 440px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    color: #444444;
    margin-bottom: 40px;
}

.link-1 li {
    font-size: 25px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.link-2 li {
    font-size: 25px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.dotted {
    border-right: dotted 1px #444444;
}

.switching {
    width: 600px;
    height: 82px;
    margin-left: auto;
    margin-right: auto;
    border-top: solid 2px#eabb31;
    border-bottom: solid 2px #ffd454;
}

.display-area {
    width: 582px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.txt {
    font-size: 25px;
    padding: 23px 0px;
    float: left;
}

.switch-area {
    width: 520px;
    height: 64px;
    float: right;
}

.smart {
    width: 240px;
    height: 62px;
    background-color: #f0bb1f;
    border-radius: 5px;
    float: left;
    box-shadow: 0px 0px 5px 5px #e6b41f inset;
}

.smart-txt {
    width:166px;
    height: 22px;
    font-size: 22px;
    color: #ffffff;
    float: right;
    margin-right: 22px;
    margin-top: 20px;
    text-shadow: 0px -1px 0px #999999;
}

.pc-tab {
    width: 262px;
    height: 60px;
    background: linear-gradient(#fffdfe, #f1eedd);
    float: right;
    border-radius: 5px;
    border: solid 1px #cca200;
    box-shadow: 0px 0px 1px 2px #ffffff inset;
}

.pc-txt {
    width: 178px;
    height: 24px;
    float: right;
    font-size: 22px;
    margin-right: 22px;
    margin-top: 18px;
}

.bottom-box {
    width: 100%;
    height: 125px;
    margin-top: 30px;
}