.min {
    display: none;
}

header {
    width: 100%;
    height: 18px;
    background-color: #ffd101;
}

.header-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.header-txt {
    float: right;
    padding: 5px;
    font-size: 10px;
}

body {
    font-family: "Arial", "Meiryo", "メイリオ", "Hiragino Kaku Gothic Pro", 
    "ヒラギノ⾓ゴPro W3", "ＭＳ Ｐ ゴシック", sans-serif;
}

.top-wrapper {
    width: 1000px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.logo-box {
    padding-top: 5px;
    float: left;
}

.link-box {
    font-size: 11px;
    float: right;
    padding-left: 499px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.link-box ul li {
    float: left;
    padding: 3px 10px; 
}

.dot {
    padding:5px;
    border-right: dotted 1px #a3a3a3;
}

.top-accessory {
    height: 45px;
    width: 100%;
}

.accessory-box {
    height: 45px;
    width: 1000px;
    padding: 0px 45px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.patterm {
    margin-left: 220px;
    float: left; 
    margin-top:-37px;
}

.tree {
    float: right;
    margin-right: -40px;
    margin-top: 15px;
}

.main-wrapper {
    width: 100%;
    height: 320px;
    background-image: url("../img/bg_img.png");
    background-repeat: repeat;
}
    
.wrapper-container {
    width: 1000px;
    height: 260px;
    padding: 45px 0px;
    margin-left: auto;
    margin-right: auto;
}

.left-img {
    float: left;
    padding-left: 30px;
}

.right-imgs {
    width: 514px;
    height: 260px;
    float: right;
}

.top-txt {
    margin-bottom: 15px;
}

.center-txt {
    margin-bottom: 25px;
}

.main-contents {
    width: 100%;
    height: 525px;
    background-color: #fdefff;
}

.contents-container {
    width: 850px;
    height: 500px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.left-container {
    width: 400px;
    height: 455px;
    float: left;
    background-color: #ffffff;
    border: solid 2px #f2d3f5;
    z-index: 1;
    border-radius: 10px;
    margin-left: 15px;
}

.right-container {
    width: 400px;
    height: 455px;
    float: right;
    background-color: #ffffff;
    border: solid 2px #f2d3f5;
    z-index: 1;
    border-radius: 10px;
    margin-right: 15px; 
}

.comment {
    margin-top: -20px;
    margin-left: -15px;
    z-index: 2;
}

.comment-2 {
    margin-top: -20px;
    margin-left: -15px;
    padding-bottom: 5px;
    z-index: 2;
}

.service-logo {
    width: 400px;
    height: 130px;
}

.hot {
    width: 244px;
    padding-top: 25px; 
    margin-left: auto;
    margin-right: auto;
}

.job {
    width: 315px;
    height: 121px;
    margin-left: auto;
    margin-right: auto;
}

.contact-box {
    width: 350px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.icon-box {
    width: 145px;
    height: 22px;
    float: left;
}

.green-box {
    width: 75px;
    height: 25px;
    border-radius: 3px;
    background-color: #4daa38;
    float: left;
}

.blue-box {
    width: 65px;
    height: 25px;
    border-radius: 3px;
    background-color: #2062b9;
    float: right;
}

.mail-title {
    width: 62px;
    height: 14px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

.tel-title {
    width: 50px;
    height: 17px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
}

.tel-title p {
    font-size: 14px;
    color: #ffffff;
    float: right;
    padding-top: 2px;
    padding-left: 2px;
}

.mail-title p {
    font-size: 13px;
    color: #ffffff;
    float: right;
    padding-top: 1px;
    padding-left: 4px;
}

.txt-1 {
    width:245px;
    height:130px;
    float:left;
    padding-top: 15px;
}

.txt-2 {
    width:227px;
    height:130px;
    float:left;
    padding-top: 15px;
}

.txt-1 p {
    font-size: 16px;
    line-height: 25px;
}

.big-red {
    font-size: 19px;
    color: red;
    line-height: 25px;
    padding-bottom: 10px;
}

.small-txt {
    font-size: 15px;
    line-height: 22px;
}
.mail-icon {
    float: left;
}

.large-mail {
    height: 250px;
    float: right;
    padding-top: -20px;
}

.mail-pic {
    padding:3px;
}

.large-operator {
    padding-top: 10px;
}

.area-container {
    width: 350px;
    height: 28px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #dcdcdc;
}

.left-txt {
    width: 340px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.left-txt p {
    font-size: 15px;
    padding-top: 6px;
    padding-left: 2px;
    white-space: nowrap;
}

.right-txt {
    width: 210px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.right-txt p {
    font-size:18px;
    padding-top: 6px;
    padding-bottom: 2px;
}

.signin-right {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
}

.pic-box {
    width: 350px;
    height: 72px;
    margin-left: auto;
    margin-right: auto;
}

.botton {                                                           
    height: 72px;
    padding-top: 5px;
    max-width: 50%;
    margin-right: auto;
}

.body-bottom {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
}

.bottom-box {
    width: 1000px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.bottom-accessory {
    width:400px;
    height:60px;
    float: right;
}


.bottom-contents {
    width: 165px;
    height: 50px;
    float: right;
}

.arrow {
    float: left;
    margin-top: 5px;
}

.back-top {
    font-size: 12px;
    width:115px;
    float: left;
    margin-top: 30px;
    margin-bottom: 10px;
}

.back-top p {
    margin-top : 10px; 
}

.mascot-box {
    float: right;
    width: 47px;
    height: 54px;
    padding-top: 5px;
}

footer {
    background-color: #ffca00;
    height: 115px;
    width: 100%;
    border-top: solid 1px #f48126;
}

.footer-containts {
    height: 115px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.footer-left {
    float: left;
    width: 300px;
    height: 67px;
    margin-top: 30px;
}

.footer-right {
    float: right;
    margin-top: 30px;
}

.footer-links ul li {
    float: left;
    font-size: 11px;
    padding: 3px 10px; 
}

.dot {
    padding:5px;
    border-right: dotted 1px #a3a3a3;
}
